<app-nav></app-nav>
<!--*ngFor directive is being used to display all returned movies, where each movie is displayed in its own card. In the expression let movie of movies;, "movies" refers to the movies variable declared in the component file.-->
<div class="movie_card">
  <mat-card class="single_movie_card" *ngFor="let movie of movies">
    <mat-card-header style="height: 100px">
      <mat-card-title style="color: purple">{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle style="margin-top: 10px"
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img height="300" src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="showGenreView(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="showDirectorView(movie.Director.Name, movie.Director.Bio)"
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="
          showMovieInfo(
            movie.Title,
            movie.Description,
            movie.Director.Name,
            movie.Genre.Name
          )
        "
      >
        Movie Info
      </button>
      <div>
        <button mat-raised-button (click)="addFavorite(movie._id, movie.Title)">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
